body{background-image:url(assests/background\ 2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    
    
}
.par1{
    color:#FF76CE;
    text-transform: capitalize;
    text-decoration: dotted;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.par2{
    color:#FF76CE;
    text-transform: capitalize;
    text-decoration: dotted;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.par3{ color:#FF76CE;
    text-transform: capitalize;
    text-decoration: dotted;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.style css{
    color:#FF76CE;
    text-transform: capitalize;
    text-decoration: dotted;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
